<!DOCTYPE HTML>
<html>
	<head>
		<title> Sinatra Store </title>
		<link rel="stylesheet" href="/style.css">
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	</head>
	<body>
		<h1>Product Created!</h1>

		<div> The product '<%= @name %>' has been created. </div>

		<div class="main_message">
			<a href="/new-product"> Create Another </a>
		</div>


		<div class="go_home">
			<a href="/" class="btn">Home </a>
		</div>	

	</body>
</html>