<!DOCTYPE HTML>
<html>
  <head>
		<title> Sinatra Store </title>
		<link rel="stylesheet" href="/style.css">
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>

	<body>
	<h1> List of Products</h1>
	<div class="top-right">
		<a href="products/new" class="btn btn-success">Add</a>
	</div>

		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>On sale?</th>
			</tr>
			<% @rs.each do |row| %>		
				<tr>
					<td><a href="/products/<%= row['id']%>"><%= row['name'] %></a></td>
					<td><%= row['price'] %></td>
					<td id="on_sale"><% if row['on_sale'] == 't' %>
						<img src='foo.gif'>
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>

		<div id="home">
			<a href="/" class="btn">home</a>
		</div>
	</body>
</html>